* {
  /*configuraçao global */
}

/* fontes */

@font-face {
  font-family: Poppins;
  src: url(fontes/Poppins-Regular.ttf);
}
@font-face {
  font-family: PoppinsEscuro;
  src: url(fontes/Poppins-Bold.ttf);
}
@font-face {
  font-family: PoppinsClaro;
  src: url(fontes/Poppins-Light.ttf);
}
@font-face {
  font-family: PoppinsBemClaro;
  src: url(fontes/Poppins-ExtraLight.ttf);
}

body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: blue orange; /* scroll thumb and track */

  font-family: Poppins, PoppinsEscuro, PoppinsClaro;
  background-color: #1e1e1e;

  background-image: linear-gradient(
    180deg,
    rgba(37, 36, 34, 0.3) 0%,
    rgba(51, 51, 51, 0.3) 100%
  );
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}

/* texto em cima do input */

p {
  font-family: "PoppinsEscuro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;

  color: #eb5e28;
}

h1 {
  width: 234px;
  height: 38px;

  font-family: "PoppinsClaro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 38px;
  padding-left: 9px;
  color: #ffffff;
}

h5 {
  width: 500px;
  height: 40px;

  font-family: "PoppinsEscuro";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;

  color: #ffffff;
  position: absolute;
  left: 17%;
  bottom: 20%;
}

/* esqueçeu a senha */

h3 {
  width: 234px;
  height: 38px;

  font-family: "PoppinsBemClaro";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 38px;
  position: absolute;
  cursor: pointer;

  left: 53%;
  bottom: 8.9%;

  color: #ffffff;
}

/* bem vindo */

h4 {
  width: 234px;
  height: 38px;

  font-family: "PoppinsEscuro";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 38px;

  color: #ffffff;
  position: absolute;
  left: 55%;
  bottom: 45%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
/* botões */

button {
  background: #eb5e28;
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  padding-bottom: 4px;
  padding-left: 37px;
  padding-right: 37px;
  border: none;
  width: 40%;
  cursor: pointer;
  display: block;

  position: absolute;
  color: #ffffff;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.butDelete {
  width: 85px;
  height: 30px;
  background-color: #dd1b1b;
  border: none;
  border-radius: 10px;
  padding-left: 17px;
  margin-left: 160px;
  margin-top: -15px;
  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);
}

.butCadastro {
  left: 53%;
  top: 98%;
}

.cadastrar1 {
  background: rgba(17, 17, 17, 1);
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  padding-bottom: 4px;
  padding-left: 60px;
  padding-right: 0px;
  border: none;
  width: 14%;
  cursor: pointer;

  position: absolute;
  top: 5%;
  left: 84%;
}
.cadastrar2 {
  background: #eb5e28;
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  padding-bottom: 4px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  width: 11%;
  cursor: pointer;
  z-index: 1000;

  position: absolute;
  top: 5%;
  left: 87%;
}

.entrar1 {
  background: #eb5e28;
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  padding-bottom: 4px;
  padding-left: 37px;
  padding-right: 37px;
  border: none;
  width: 11%;
  cursor: pointer;
  display: block;

  position: absolute;
  top: 5%;
  left: 78%;
}

.voltar {
  background: #eb5e28;
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding-bottom: 2px !important;
  border: none;
  padding-left: 35px !important;
  width: 11%;
  cursor: pointer;
  position: absolute;
  top: 4%;
  left: 88%;
}
.addUserPanel {
  background: #eb5e28;
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 100px;
  border: none;
  height: 70px;
  width: 10px;
  cursor: pointer;
  position: absolute;
  top: 80%;
  left: 83%;
}

.imgPlus {
  height: 50px;
  top: 16%;
  left: 16%;
  border: none;
  cursor: pointer;
  position: absolute;
}

.entrar2 {
  background: rgba(17, 17, 17, 1);
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 60px;
  padding-bottom: 4px;
  padding-left: 37px;
  padding-right: 37px;
  border: none;
  width: 12%;
  cursor: pointer;
  display: block;

  position: absolute;
  top: 5%;
  left: 78%;
}
.erro_cadastro {
  margin-top: -15px;
  margin-left: 410px;
}

/* input rgba(217, 217, 217, 0.2)*/

input {
  width: 290px;
  height: 35px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 7px 32px 0 rgba(37, 8, 8, 0.185);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  border: 0.1px solid rgba(255, 255, 255, 0.18);

  padding-left: 20px;

  color: rgba(255, 252, 242, 0.589);
  font-size: 17px;
}

.ResInput {
  width: 290px;
  height: 95px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 7px 32px 0 rgba(37, 8, 8, 0.185);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  border: 0.1px solid rgba(255, 255, 255, 0.18);

  padding-left: 20px;

  color: rgba(255, 252, 242, 0.589);
  font-size: 17px;
}

.ResInput:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

input:focus {
  outline: 0.1px solid rgba(217, 217, 217, 0.2);
}

/* botões seleção */

.formUser {
  position: absolute;

  left: 53%;
  top: 47.3%;
  border-color: #1e1e1e;
  margin: 2px;

  border: 2px solid #1f1b1b;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 0.5px;
  padding-top: 0.5px;
  border-radius: 20px;
}

.butCadastro {
  top: 80%;
}

.butAlter {
  left: 53%;
  top: 84%;
}

.formSituacao {
  position: absolute;
  left: 53%;
  top: 65.1%;
  border-color: #1e1e1e;
  margin: 2px;

  border: 2px solid #1f1b1b;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 0.5px;
  padding-top: 0.5px;
  border-radius: 20px;
}

.formSituacao2 {
  position: absolute;
  left: 53%;
  top: 29%;
  border-color: #1e1e1e;
  margin: 2px;

  border: 2px solid #1f1b1b;
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 0.5px;
  padding-top: 0.5px;
  border-radius: 20px;
}

.labelUser {
  width: 234px;
  height: 38px;

  font-family: "PoppinsClaro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 38px;
  padding-left: 9px;

  color: #ffffff;
}

.labelUser1 {
  width: 234px;
  height: 38px;

  font-family: "PoppinsClaro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 38px;
  padding-left: 19px;

  color: #ffffff;
}

.labelType {
  width: 234px;
  height: 38px;

  font-family: "PoppinsClaro";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 38px;
  padding-left: 9px;

  color: #ffffff;
}

.raioUser {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 2px;
  left: -0.5px;
  position: relative;
  accent-color: #eb5e28;
}

.raioUser1 {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 2px;
  left: 10px;
  position: relative;
  accent-color: #eb5e28;
}

.raioType {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  accent-color: #eb5e28;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #525c5a;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
}
select::-ms-expand {
  display: none;
}

.opNon {
  color: #1f1b1b;
}

.cursos {
  position: absolute;

  left: 53%;
  top: 30%;

  display: flex;
  width: 290px;
  height: 42px;
  line-height: 3;
  box-shadow: 0 7px 32px 0 rgba(37, 8, 8, 0.185);
  backdrop-filter: blur(14px);
  overflow: hidden;
  border-radius: 25px;
}
.cursos::after {
  content: "\25BC";
  position: absolute;
  top: -2px;
  right: 0;
  padding: 0 1em;
  background: #333333;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.cursos:hover::after {
  color: #eb5e28;
}

/* select biblioteca */

.BibVinc {
  position: absolute;
  left: 53%;
  top: 12%;

  display: flex;
  width: 290px;
  height: 42px;
  line-height: 3;
  box-shadow: 0 7px 32px 0 rgba(37, 8, 8, 0.185);
  backdrop-filter: blur(14px);
  overflow: hidden;
  border-radius: 25px;
}
.BibVinc::after {
  content: "\25BC";
  position: absolute;
  top: -2px;
  right: 0;
  padding: 0 1em;
  background: #333333;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.BibVinc:hover::after {
  color: #eb5e28;
}

.permissionVinc {
  position: absolute;
  left: 53%;
  top: 10%;

  display: flex;
  width: 290px;
  height: 42px;
  line-height: 3;
  box-shadow: 0 7px 32px 0 rgba(37, 8, 8, 0.185);
  backdrop-filter: blur(14px);
  overflow: hidden;
  border-radius: 25px;
}
.permissionVinc::after {
  content: "\25BC";
  position: absolute;
  top: -2px;
  right: 0;
  padding: 0 1em;
  background: #333333;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.permissionVinc:hover::after {
  color: #eb5e28;
}

/* posição dos titulos */

.positionCurso {
  position: absolute;
  top: 1%;
  left: 53%;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.positionUserC {
  position: absolute;
  top: 20%;
  left: 53%;
}

.positionCampus {
  position: absolute;
  top: 37%;
  left: 53%;
}

.positionSituacao {
  position: absolute;
  top: 55%;
  left: 53%;
}

.positionSituacao2 {
  position: absolute;
  top: 19%;
  left: 53%;
}

.positionPermission {
  position: absolute;
  left: 53%;
  top: 1%;
}

/* painel login */

.div_login {
  background-color: #333333;

  position: absolute;
  width: 345px;
  height: 450px;
  top: 15%;
  left: 10%;

  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);

  padding-left: 30px;
  border-radius: 20px;
  z-index: 1000;
}

.div_cadastro {
  background-color: #333333;

  position: absolute;
  width: 700px;
  height: 550px;
  top: 8%;
  left: 23%;
  padding-top: 5px;

  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);

  padding-left: 30px;
  border-radius: 20px;
  z-index: 1000;
}

.div_alter {
  background-color: #333333;

  position: absolute;
  width: 700px;
  height: 550px;
  top: 8%;
  left: 23%;
  padding-top: 5px;

  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);

  padding-left: 30px;
  border-radius: 20px;
  z-index: 1000;
}

.div_cadastro_sucess {
  background-color: #333333;

  position: absolute;
  width: 700px;
  height: 550px;
  top: 8%;
  text-align: center;
  left: 25%;
  padding-top: 5px;

  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);

  padding-left: 30px;
  border-radius: 20px;
  z-index: 1000;
}

.imgCheck {
  position: absolute;
  top: 80px;
  left: 270px;

  width: 203px;
  height: auto;
}

/* imagem ondas fundo */

img {
  position: absolute;
  bottom: 50%;
  top: 50%;
  left: 0%;
}

/* logo livrinho */

.logo {
  position: absolute;
  top: 0px;
  left: 95px;

  width: 200px;
  height: 150px;
}

/* linhas */

.linha {
  top: 43%;
  left: 48%;
}
.linha2 {
  position: absolute;

  top: 43%;
  left: 73%;
}

.logoIff {
  position: absolute;

  top: 2.5%;
  left: 2%;
  width: 80px;
  height: 100px;
}

.fundos {
  position: relative;
  top: 2%;
  right: 2%;
  left: 2%;
  width: 1350px;

  /* 1300px ou 1720px */
}

.onda {
  position: absolute;
  top: 2%;
  right: 10%;
  left: 2%;
  width: 1300px;
  height: 90%;
}

h3:hover {
  color: #f84600;
  transition: all 0.3s;
  text-decoration: underline;
  text-decoration-color: #f84600af;
}

input:hover {
  transform: scale(1.02);
  transition: all 0.5s;
}

button:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

button:after {
  content: "";
  background: #f5a180;
  display: block;
  border-radius: 20px;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.9s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.entrar:after {
  content: "";
  background: #f5a180;
  display: block;
  border-radius: 20px;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.9s;
}

.entrar:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.cadastrar:after {
  content: "";
  background: #888888;
  display: block;
  border-radius: 20px;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -40px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.9s;
}

.cadastrar:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* cadastro Livro */

.CadastroLivro {
  background-color: #333333;

  position: absolute;
  width: 350px;
  height: 2440px;
  top: 8%;
  left: 35%;
  padding-top: 5px;

  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);

  padding-left: 30px;
  border-radius: 20px;
  z-index: 1000;
}

.TipoAcervo {
  position: absolute;

  display: flex;
  width: 320px;
  height: 42px;
  line-height: 3;
  box-shadow: 0 7px 32px 0 rgba(37, 8, 8, 0.185);
  backdrop-filter: blur(14px);
  overflow: hidden;
  border-radius: 25px;
}
.TipoAcervo::after {
  content: "\25BC";
  position: absolute;
  top: -2px;
  right: 0;
  padding: 0 1em;
  background: #333333;
  cursor: pointer;
  pointer-events: none;
  transition: 0.25s all ease;
}
.TipoAcervo:hover::after {
  color: #eb5e28;
}

textarea {
  resize: none;
  overflow: hidden;
  margin: 0;
}

/* input imagem */

input::file-selector-button {
  padding-right: 10px;
  padding-top: 6.8px;
  padding-bottom: 6.8px;
  font-weight: bold;
  color: #2c2727;
  border: none;
  border-radius: 5px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.1);
}

h8 {
  width: 234px;
  height: 38px;

  font-family: "Poppins";
  font-style: normal;
  font-size: 25px;
  line-height: 100px;
  padding-left: 35px;
  color: #ffffff;
}

.butCadastroLivro {
  background: #eb5e28;
  box-shadow: 3px 5px 7px 6px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding-bottom: 4px;
  padding-left: 37px;
  padding-right: 37px;
  border: none;
  width: 70%;
  cursor: pointer;
  display: block;
  left: 50px;

  position: absolute;
  color: #ffffff;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.butCadastroLivro:hover {
  transform: scale(1.04);
  transition: 0.5s;
}

.labelForm {
  padding-left: 340px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 35px;
  color: #eb5e28;
  font-size: 35px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
}

/* página Permissões */

.UserPermissions {
  background-color: #333333;

  position: absolute;
  width: 950px;
  height: 550px;
  top: 8%;
  left: 15%;
  padding-top: 5px;

  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);

  padding-left: 30px;
  border-radius: 20px;

  z-index: -1;
}

h13 {
  font-family: "Poppins";
  font-style: normal;
  font-size: 35px;
  color: #eb5e28;
  font-size: 25px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  padding-left: 10px;
}

h14 {
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);
  padding-left: 10px;
}

.box {
  width: 23px;
  height: 23px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 7px 32px 0 rgba(37, 8, 8, 0.185);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 20px;
  border: 0.1px solid rgba(255, 255, 255, 0.18);

  color: rgba(255, 252, 242, 0.589);
}

.Confirm {
  width: 85px;
  height: 30px;
  background-color: #eb5e28;
  border: none;
  border-radius: 10px;
  padding-left: 21px;
  margin-left: 60px;
  margin-top: -15px;
  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);
}

.Confirm:hover {
  cursor: pointer;
  transform: scale(1.07);
  transition: all 0.2s;
  box-shadow: 4.5px 4.5px #1e1e1e;
}


h15 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;

  color: #ffffff;
}

.NewUser {
  width: 158px;
  height: 50px;
  background-color: #eb5e28;
  border: none;
  border-radius: 5px;
  margin-left: 1200px;
  margin-top: 550px;
  box-shadow: 0px 109px 337px rgba(0, 0, 0, 0.0815322),
    0px 45.5376px 140.791px rgba(0, 0, 0, 0.117129),
    0px 24.3466px 75.2734px rgba(0, 0, 0, 0.145),
    0px 13.6485px 42.1976px rgba(0, 0, 0, 0.172871),
    0px 7.24861px 22.4108px rgba(0, 0, 0, 0.208468),
    0px 3.01631px 9.32565px rgba(0, 0, 0, 0.29);
}
